.track {
  stroke: #ccc;
  transform: translate(350px, 350px);
}
.marker {
  offset-path: path('M 0, 0 m -230, 229');
  transform: translate(350px, 350px);
}
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  background: #000;
  color: #B2CDDE;
  font-family: courier new;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  height: 100vh;
  position: relative;
}
@media (orientation: landscape) {
  main {
    --scale: var(--scale-landscape);
  }
}
@media (orientation: portrait) {
  main {
    --scale: var(--scale-portrait);
  }
}
main {
  --size: 700px;
  top: 50%;
  left: 50%;
  position: absolute;
  width: var(--size);
  height: var(--size);
  overflow: hidden;
  cursor: crosshair;
  background: linear-gradient(red, yellow);
  transform: scale3d(var(--scale), var(--scale), 1) translate(-50%, -50%);
  transform-origin: 0px 0px;
  border-radius: 50%;
}
main * {
  position: absolute;
}
x-ego {
  --sprite-size: 50px;
  width: var(--sprite-size);
  height: var(--sprite-size);
  background-color: blue;
  border-radius: 50%;
  left: calc(var(--size) / 2); /* - var(--sprite-size) / 2);*/
  top: calc(var(--size) / 2); /* - var(--sprite-size) / 2);*/
  /*transform: rotate(0deg) translateY(325px);
  transition: transform 345600s linear;*/

  /* offset-path: path('M 0, 0 m -325, 0 a 325,325 0 1,0 650,0 a 325,325 0 1,0 -650,0'); */
  offset-path: path('M 0, 0 m -230, 229 a 1,1 0 1,0 459,-459 a 1,1 0 1,0 -459,459');

  /*animation: move 4s linear infinite;*/

  /*transition: offset-distance 4s linear;*/

  /*animation: jump 1s ease-out alternate infinite;*/
}
x-ego::before {
  content: var(--ego-x, 0);
}
x-ego::after {
  content: var(--ego-y, 0);
}
x-ego.clockwise {
  /* transform: rotate(31104000deg) translateY(325px); */
  /*offset-distance: 100%;*/
  animation: clockwise 4s linear reverse infinite; /*, jump 1s ease-out alternate infinite;*/
}
x-ego.anticlockwise {
  /* transform: rotate(-31104000deg) translateY(325px); */
  /*offset-distance: -100%;*/
  animation: anticlockwise 4s linear infinite; /*, jump 1s ease-out alternate infinite; */
}
@keyframes clockwise {
  100% {
    offset-distance: 100%;
  }
}
@keyframes anticlockwise {
  100% {
    offset-distance: 100%;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(0px);    
  }
  100% {
    transform: translateY(-100px);
  }
}