*, *::before, *::after {
  box-sizing: border-box;
}
body {
  background: #000;
  color: #B2CDDE;
  font-family: courier new;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  height: 100vh;
  position: relative;
}
@media (orientation: landscape) {
  main {
    --scale: var(--scale-landscape);
  }
}
@media (orientation: portrait) {
  main {
    --scale: var(--scale-portrait);
  }
}
main {
  --size: 700px;
  top: 50%;
  left: 50%;
  position: absolute;
  width: var(--size);
  height: var(--size);
  overflow: hidden;
  cursor: crosshair;
  background: linear-gradient(red, yellow);
  transform: scale3d(var(--scale), var(--scale), 1) translate(-50%, -50%);
  transform-origin: 0px 0px;
}
main * {
  position: absolute;
}
x-ego {
  --ego-size: 50px;
  width: var(--ego-size);
  height: var(--ego-size);
  background-color: blue;
  border-radius: 50%;
  left: calc(var(--size) / 2 - var(--ego-size) / 2);
  top: calc(var(--size) / 2 - var(--ego-size) / 2);
  animation: rotateLeft 4s linear infinite;
}
@keyframes rotateLeft {
  from { transform: rotate(0deg) translateX(320px); }
  to   { transform: rotate(360deg) translateX(320px); }
}
x-ego::before {
  content: var(--ego-x, 0);
}
x-ego::after {
  content: var(--ego-y, 0);
}